<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">Book Purchasing System</a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item"><a [routerLink]="['/member','login']" class="nav-link">Member Login</a></li>
        <li class="nav-item"><a [routerLink]="['/member','register']" class="nav-link">Member Registration</a></li>
        <li class="nav-item"><a [routerLink]="['/admin','login']" class="active nav-link">Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form autocomplete="off" [formGroup]="frmGroup" (ngSubmit)="loginEvent()">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 class="h3 mb-3 fw-normal">Admin Sign In</h1>

        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" placeholder="Username"
                 formControlName="username" type="email">
          <label for="floatingInput">Email Address</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingPassword" placeholder="Password"
                 formControlName="password" type="password"> <label for="floatingPassword">Password</label>
        </div>
        <div *ngIf="loading">
          <i class="fa fa-sync fa-spin me-1"></i>Please wait...
        </div>
        <button *ngIf="!loading" [disabled]="frmGroup.invalid" class="w-100 btn btn-lg btn-success" type="submit">
          <i class="fa fa-sign-in me-1"></i>Sign in
        </button>
      </form>
    </div>
  </div>
</div>
